{% extends 'base.html.twig' %}

{% block title %}{% trans %}Neues Schuljahr hinzufügen{% endtrans %}{% endblock %}

{% block body %}

<div class="container">
    <br>
    <h1>{% trans %}Neues Schuljahr hinzufügen{% endtrans %}</h1>
    <br>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
